/*№12*/body /*Весь контент*/ {
	font-family: Arial, sans-serif;/*№15*//*Поставить шрифт Arial или если его нет ставиться автоматически с помощю sans-serif*/
	padding: 0;/*№13*//*Убрать отступы всего контента, так как у body изначально есть некие отступы*/
	margin: 0;/*№14*//*Убрать отступы всего контента, так как у body изначально есть некие отступы*/
	color: #222222;/*Изменить цвет всего шрифта*/ 
}

/**/.clearfix:after {
	content: '';/*Всегда нужно просто вписывать*/
	display: table;/**/
	width: 100%;/**/
	clear: both; /**/
}

/**/div /**/ {
	box-sizing: border-box;/**/
}

/*№9*/header /*Первый контейнер*/ { 
	background: url(imeg/first-bg.jpg) no-repeat center top / cover;/*№10*/ /*Фото бэкграунда, не повторять фото, поставить по центру,поставить сверху, покрыть все пространство контейнера*/ 
    height: 600px;/*№11*//*Высота фото*/
    height: 100vh; /*Сделать так чтобы первый контейнер занимал всю площадь монитора*/
}/*Отвечает за бэкграунд, относится к контейнеру header*/

/*№18*/.container /*Класс всех контейнеров, ибо все контейнеры будут одинаковыми*/ {
	width: 930px;/*№19*//*Ширина для всех контейнеров, расстояние для этого можно измерить в фотошопе*/
	/*border: 10px solid red;*//*Нужно для наглядного выделения контейнеров*/
	margin: 0 auto;/*№20*//*Нужно для того чтобы поставить контейнеры по-центру*/
}/*Нужно для того чтобы назначить ширину контейнеров и поставить контейнеры по-центру, относиться ко всем конейнерам*/

/*№17*/.logo /*Класс логотипа*/ {
    margin-top: 41px;/*№21*//*Нужно для того чтобы сделать отступ сверху для логотипа, расстояние для этого можно измерить в фотошопе*/
    float: left; /*№22*//*Нужно для того чтобы приклееть логотип к левой стороне контейнера*/
}/*Нужно для того чтобы сделать отступ сверху для логотипа и приклееть его к левой стороне контейнера, относиться к контейнеру header*/ 


	  
/*№27*/nav /*Тег в котором находиться класс меню, мы обращаемся к нему напрямую так как это не класс ибо такой тег единственный*/ {
	float: right;/*№28*//*Нужно дя того чтобы приклеить меню к правой стороне контейнера */
	margin-top: 45px;/*№29*//*Нужно для того чтобы сделать отступ сверху для меню, расстояние для этого можно измерить в фотошопе*/
}/*Нужно для того чтобы сделать приклеить меню к правой стороне контейнера и сделать отступ сверху для меню, который можно измерить в фотошопе, относиться к контейнеру header*/

/*№30*/.menu /*ul Класс который обозначает меню*/ {
	padding: 0;/*№31*//*Нужно для того чтобы убрать стандартные паддинги в меню*/
	margin: 0;/*№32*//*Нужно для того чтобы убрать стандартные марджини в меню*/
	display: block;/*№33*//*Убирает некрасиые дисплейные фишки html*/
}/*Нужно для того чтобы убрать ненужные отступы в классе меню и для чего-то еще, относится к контейнеру header*/

/*№34*/.menu li /*Обращение ко всем li которые в теге ul*/ {
	float: left;/*№35*//*Нужно для того чтобы выстроить все меню по левую сторону и в один ряд*/
	display: block;/*№36*//*Убирает некрасиые дисплейные фишки html*/
	margin-right: 41px;/*№41*//*Нужно для того чтобы просчитать расстояние между словами в меню, это можно сделать в фотошопе*/
}/*Нужно для того чтобы выстроить все меню по левую сторону и в один ряд,убрать некрасиые дисплейные фишки html, относиться к контейнеру header */

/*№37*/.menu li a /*К ссылкам надо обращаться напрямую ибо если изменить например цвет ссылки через .menu li то ничего не получиться*/ {
	color: #fff;/*№38*//*Нужно сделать для того чтобы изменить цвет слов в меню например Services*/
	text-decoration: none;/*№39*//*Нужно для того чтобы убрать подчеркивание у ссылок*/
	text-transform: uppercase;/*№40*//*Нужно для того чтобы сделать все слова в меню с большой буквы*/
	font-size: 14px;/*№42*//*Нужно для того чтобы выбрать размер каждого слова в меню*/
}/*Относиться к контейнеру header*/

/*№49*/.titles_first /*Класс который обозначает  только первый заголовок, тоесть Welcome To Our Studio */ { 
	font-size: 40px;/*№50*//*Размер шрифта первого заголовка*/
	color: #fff;/*№51*//*Делает цвет текста заголовка белым*/
	text-transform: uppercase;/*№52*//*Нужно для того чтобы сделать заголовок с большой буквы с большой буквы*/
	text-align: center;/*№53*//*Нужно для того чтобы поставить заголовок как и любой текст по центру*/
	margin-top: 180px;/**/ 
}

/*№54*/h1 /*Класс который обозначает  только второй заголовок, тоесть It's nice to Meet you*/ {
	font-size: 75px;/*№54*//*Размер шрифта второго заголовка*/
	color: #fff;/*№54*//*Делает цвет текста заголовка белым*/
	text-transform: uppercase;/*№54*//*Нужно для того чтобы сделать заголовок с большой буквы с большой буквы*/
	text-align: center;/*№54*//*Нужно для того чтобы поставить заголовок как и любой текст по центру*/
	margin: 15px;/**/
}

/**/.button /**/ {
	background: #fed136;/**/
	color: #484543;/**/
	border-radius: 3px;/**/
	display: block;/**/
	width: 240px;/**/
	padding: 20px 0;/**/
	margin: 0 auto;/**/
	text-decoration: none;/**/
	text-align: center;/**/
	text-transform: uppercase;/**/
	font-weight: bold;/**/
	font-size: 18px;/**/
	margin-top: 50px;/**/
	margin-bottom: 160px;/**/
}

/**/.title /**/ {
    padding-top: 115px;/**/
}

/**/.title h2 /**/ {
	font-size: 40px;/**/
	font-weight: bold;/**/
	text-align: center;/**/  
    text-transform: uppercase;/**/
    margin: 0;/**/
}

/**/.title p /**/ {
	color: #777777;/**/
	text-align: center;/**/
    font-size: 16px;/**/
    margin-top: 5px;/**/
}

/**/.services /**/ {
    margin-top: 50px;/**/
}

/**/.services_item /**/ {
	width: 270px;/**/
	float: left;/**/
	text-align: center;/**/
}

/**/.services_item h3 /**/ {
    font-size: 18px;/**/
    margin-bottom: 5px;/**/ 
} 

/**/.services_item p /**/ {
	color: #777777;/**/
	font-size: 14px;/**/
	line-height: 1.55em;/**/
}

/**/.services_item:last-child /**/ {
	float: right;/**/
}

/**/.services_item:nth-child(2) /**/ {
	margin-left: 60px;/**/
}

/**/#services /**/ {
	padding-bottom: 120px;/**/
}  

/**/#portfolio /**/ {
	background: #f7f7f7;/**/
	padding-bottom: 120px;/**/
}

/**/.works /**/ {
	margin-top: 70px;/**/ 
}

/**/.works img /**/ {
	float: left;/**/
}

/**/.works img:nth-child(2) /**/ {
    margin-left: 29px;/**/
}

/**/.works img:last-child /**/ {
	float: right;/**/
}



.about {
	display: block;
	margin: 0px auto;
	/*border: 1px solid green;*/
	margin-top: 90px;
}

.ourway p {
    color: #777777;
	font-size: 14px;
	line-height: 1.55em;
	float: right;
}

#contact {
	margin-bottom: 120px;
}

	




